div
  h1 MicroMono Socket.IO Example

  h3 Message from server (emits every 2 seconds):
  div#message

  if asset && asset.bundleJs
    script(type='text/javascript', src="#{asset.bundleJs}")

  if asset && asset.main
    script(type='text/javascript').
      System.import('#{asset.main}');
