h3  Index Page of Home Service

ul
  li
    a(href="/home/private")  Home Private Page
  li
    a(href="/public")  Home Public Page
  li
    a(href="/account/protected") Account Protected Page
  li
    a(href="/account/login") Account Login Page
