h3  Index Page of Home Service

ul
  li
    a(href="/home/private")  Home Private Page
  li
    a(href="/public")  Home Public Page
  li
    a(href="/account/protected") Account Protected Page
  li
    a(href="/account/login") Account Login Page
  li
    a(href="/project/param1/param2") Page with parameters
  li
    a(href="/io") Socket.IO exmaple
